body {
  background-color: #fbf6f0;
  text-align: center;
  height: 100vh;
  font-family: "Dosis", sans-serif;
}

input:focus,
button:focus {
  outline: none;
}

.user-form {
  margin-top: 50px;
}

.user-form-input {
  font-weight: 500;
  border: none;
  border-bottom: 5px solid #ffa45b;
  background: transparent;
  width: 50%;
  margin: 5px auto 35px auto;
  padding: 5px 15px;
  font-size: 36px;
}

.btn-common {
  margin-bottom: 12px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: #000000;
  font-weight: 400px;
  cursor: pointer;
}

.user-form-btn {
  border: 1px solid #aee6e6;
  background-color: #aee6e6;
}

.user-location-btn {
  border: 1px solid #ffda77;
  background-color: #ffda77;
}
